
.card {
    box-shadow: 0 4px 8px 0 white;
  background-color: white;
  margin: 70px;
    text-align: center;
    font-family: arial;
}
.One{
    float: left;
    color:  rgb(249, 242, 148) ;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    border: 10px;
}

  header {
    background-color:rgb(255, 254, 246);
    text-align: center;
    font-size: 30px;
    color:black;
    padding-top: 30px;
    min-height: 70px;
    boarder-bottom:#181819 5px solid ;

}
header a {
    color: rgb(249, 242, 148);
    text-decoration: none;
    font-size: 25px;
}
header li{
    float:left;
    display:inline;
    padding:0 20px 0 20px;

}
header #brand {
float: center ;

}
header #brand h1 {
    margin:10;
    color:  rgb(249, 242, 148)

}

.{
    background-color: rgb(255, 255, 248);
    overflow: hidden;
}


.active{
    margin-right: 25px;
}
.mcollection{
    position: relative;
    left: 70px;
}
.wcllection{
    position: relative;
    left: 40px;
}
.ordernow{
    position: relative;
    bottom:  30px;
    display: white;

    border: none;
    background-color: rgb(249, 242, 148);
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
border-radius: 55%;
    margin-left: 1000px;
}


ul.nav {
    margin:0;
    padding:0;

    list-style: none;
    height:36px; line-height:36px;
    background: darkgoldenrod; /* you can change the backgorund color here. */
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
    
}
ul.nav li {
    border-right:1px solid darkgoldenrod; /* you can change the border color matching to your background color */
    float: left;
}

ul.nav a {
    display:block;
    padding:0 28px;
    color:white;
    text-decoration:none;
}
ul.nav a:hover,
ul.nav li.current a {
    background:#086754;
}
.alo {background-color: darkgoldenrod;
    margin: 240px;
    margin-top: 50px;
    height: 50px;
    width: 150px;
    border-radius: 30px;}
.aloo {margin-top: 130px;
   
 
 display: flex;
  
    height: 150px;
    width: 150pxs;}
.button {
    position: relative;
    background-color: darkgoldenrod;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 40px;
  }
  
  .button:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
  .container {display: grid;
    grid-template-columns: 350px 350px 350px;
    margin: 200px;
    margin-top: 50px;
    
  }